.crausel{
   

cursor: pointer;
}
.parent{
    margin: 1% 1% 0% 1%;
    width: 98%;
   
}

@media (min-width:100px) and (max-width: 3000px) {
  .parent{
    width:90%;
  
    background-color: aqua;
    margin:4% 5% 4% 5%;
  }
}