.category {
  display: flex;
  justify-content:space-evenly;
  background-color: #fff;
  height: 150px;
  color: rgb(49, 49, 42);
 padding:10px;
  margin-top: 200px;
  text-align: center;
  gap: 20px;
  overflow-x: auto;
 
 
  
}

.text {
 font-size:8px;
 font-weight: 100;
   min-width: 80px;
          /* 👈 Force child to occupy width to cause overflow */
   flex-shrink: 0px;     /* 👈 Prevent shrinking in scroll */
}

.name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}

/* Responsive styles */
@media (min-width: 100px) and (max-width: 3000px) {
  .category {
    width: 85%;
    margin: 6% 5% 4% 7%;
      overflow-x: hidden; 
  overflow-y: hidden; 
    
  }
}


