.category {
  display: flex;
  justify-content:space-evenly;
  background-color: #fff;
  height: 140px;
  
  color: rgb(49, 49, 42);
  margin-left: 1%;
  margin-right: 1%;
 padding: 18px;
  margin-top: 50px;
  text-align: center;
  gap: 20px;
  overflow-x: auto;  
  
}

.text {
   min-width: 80px;       /* 👈 Force child to occupy width to cause overflow */
   flex-shrink: 0px;     /* 👈 Prevent shrinking in scroll */
}

.name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}

/* Responsive styles */
@media (min-width: 1600px) and (max-width: 3000px) {
  .category {
    width: 85%;
    margin: 4% 5% 4% 8%;
  }
}


