.navbar {
  background-color: #fff;
  height: 80px;
  width: 100%;
  padding: 15px;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;

  position: sticky;   /* 👈 Fix navbar */
  top: 0;            /* 👈 Stick it to the top */
  left: 0;           /* 👈 Align from left */
  z-index: 1000;     /* 👈 Keep it above other content */
}

.SearchBar{
    flex: 10;
   
}
.carticon{
    flex: 2;
}

.others{
    flex:2
}

.profile{
    flex:2;
    cursor: pointer;
    margin-left: 80px;
   
}

 @media (min-width:200px) and (max-width: 796px) {
  .navbar{
    width:100%;
    
   
  }
}
