@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
 
}
body::-webkit-scrollbar {
  display: none;
}





.h1 {
  font-size: 14px;
  color: #e5e7eb;
  font-weight: 400;
}

.h2 {
  font-size: 18px;
  color: #e5e7eb;
}
